@import 'modules/mixins';
@import "modules/variables";
@import "partials/reset";
@font-face {
    font-family: 'yellowtailregular';
    src: url('../fonts/yellowtail-regular-webfont.eot');
    src: url('../fonts/yellowtail-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yellowtail-regular-webfont.woff2') format('woff2'),
         url('../fonts/yellowtail-regular-webfont.woff') format('woff'),
         url('../fonts/yellowtail-regular-webfont.ttf') format('truetype'),
         url('../fonts/yellowtail-regular-webfont.svg#yellowtailregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'herr_von_muellerhoffregular';
    src: url('../fonts/herrvonmuellerhoff-regular-webfont.eot');
    src: url('../fonts/herrvonmuellerhoff-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/herrvonmuellerhoff-regular-webfont.woff2') format('woff2'),
         url('../fonts/herrvonmuellerhoff-regular-webfont.woff') format('woff'),
         url('../fonts/herrvonmuellerhoff-regular-webfont.ttf') format('truetype'),
         url('../fonts/herrvonmuellerhoff-regular-webfont.svg#herr_von_muellerhoffregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light1-webfont.eot');
    src: url('../fonts/opensans-light1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light1-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light1-webfont.woff') format('woff'),
         url('../fonts/opensans-light1-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light1-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
// @font-face {
//     font-family: 'ralewaybold';
//     src: url('../fonts/raleway-bold-webfont.eot');
//     src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
//          url('../fonts/raleway-bold-webfont.woff') format('woff'),
//          url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
//          url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }
// ctrl+D szuka po zaznaczonym wyrazie w dol
* {
    box-sizing: border-box;
    margin: 0 auto;
}

.clear {
    clear: both;
}
.main-width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #558C89;
    height: 60vh;
}
.main_section{
  background-color: #D9853B;

}
.top_logo{
  @include flexDisplay;
  justify-content: center;
}
.top_info{
  @include flexDisplay;
  justify-content: center;
  margin-top: 3%;

  p{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ECECEA;
  }
}
.top_icon{
  @include flexDisplay;
  justify-content: center;
  margin-top: 3%;
  p{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ECECEA;
  }
}
.tabs {
    width:100%;
    display:inline-block;
    margin-top: 10%;
    margin-bottom: 10%;
}
  .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links  {
      li{
        margin:0px 5px;
        float:left;
        font-family: 'Raleway', sans-serif;
      }
      a {
          padding:9px 15px;
          display:inline-block;
          border-radius:6px;
          background:#74AFAD;
          font-size:22px;
          font-family: 'Raleway', sans-serif;
          color:black;
          transition:all linear 0.15s;
          text-decoration: none;
          font-weight: bold;
      }

    }
        .tab-links a:hover {
            background:rgba(211,211,211,0.5);
            text-decoration:none;
        }

    li.active a, li.active a:hover {
        background:#ECECEA;
        color:black;
        border-radius:6px;
        // border: 1px solid black;
    }
    .tab-content {
        padding:15px;
        border-radius:6px;
        // border: 1px solid black;
        background:#d2d2d1;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: black;
        line-height: 1.5;
        span{
          margin-left: 50%;
        }
    }
        .tab {
            display:none;
            margin-top: 5%;
        }
        .tab.active {

            display:block;
        }
        .demo {
      		width:100%;
      		border:solid #ECECEA;
      		border-collapse:separate;
      		padding:5px;
      	}
      	.demo th {
      		border:solid #ECECEA;
      		padding:5px;
      	}
      	.demo td {
      		border:solid #ECECEA;
      		padding:5px;
      	}
        .section_2{
          background-color: #558C89;
          p{
            font-family: 'Raleway', sans-serif;
            font-size: 36px;
          }
        }
        .circle_container1{
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          @include flexDisplay;
          width: 100%;
          margin-top: 5%;
          p{
            font-size: 20px;
            text-align: center;
          }
        }
